{% extends "base2.html" %}
{% block extratitle %}Proyectos{% endblock %}

{% block menu1 %}
<a href="/proyectos/" style="font-weight: bold;">Proyectos &raquo;</a><br>
<a href="/campanias/">Campa&ntilde;as &raquo;</a><br>
<br><br><br>
{% endblock %}

{% block breadcrumb %}
<a href="/proyectos/">Proyectos &raquo;</a>
{% endblock %}

{% block contenido %}
<div>
    <span class="title">Proyectos</span><br>
    {% if info.descripcion %}
    {{info.descripcion|safe}}
    {% else %}
    Notifique al admin sobre este contenido
    {% endif %}
    <div>
        <br>        
        {% for proy in proyectos %}
        <div class="proyecto">
            <div class="left">
                <a href="/proyectos/{{proy.slug}}/"><img src="{{proy.portada.url_175x110}}" alt="{{proyecto.titulo}}"></a>
            </div>
            <div class="right">
                <div class="title"><a href="/proyecto/{{proy.slug}}/">{{proy.titulo}} &raquo;</a></div>
                <div class="date">Fecha: {{proy.fecha_inicio|date:"d F Y"|title}} al {{proy.fecha_fin|date:"d F Y"|title}}</div>
                <div class="proy_body">
                    {{proy.descripcion|safe|truncatewords:"45"}}
                </div>
            </div>
            <div class="clean"></div>
        </div>
        <div class="proyecto">
            <div class="left">
                <a href="/proyecto/{{proy.slug}}/"><img src="{{proy.portada.url_175x110}}" alt="{{proyecto.titulo}}"></a>
            </div>
            <div class="right">
                <div class="title"><a href="/proyecto/{{proy.slug}}/">{{proy.titulo}} &raquo;</a></div>
                <div class="date">Fecha: {{proy.fecha_inicio|date:"d F Y"|title}} al {{proy.fecha_fin|date:"d F Y"|title}}</div>
                <div class="proy_body">
                    {{proy.descripcion|safe|truncatewords:"45"}}
                </div>
            </div>
            <div class="clean"></div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}