{% extends "base2.html" %}
{% block extratitle %}Materiales Did&aacute;cticos - {{tema.nombre}}{% endblock %}

{% block menu1 %}
{% for tema in temas_material %}
<a href="/material/{{tema.slug}}/">{{tema.nombre}} &raquo;</a><br>
{% endfor %}
<br><br><br>
{% endblock %}

{% block breadcrumb %}
<a href="/material/">Material Did&aacute;tico &raquo;</a> <a href="/material/{{tema.slug}}">{{tema.nombre}} &raquo;</a>
{% endblock %}

{% block contenido %}
<div>
    <span class="title">{{tema.nombre}}</span><br><br>
    <div class="flatpage">        
        {{tema.descripcion|truncatewords:40|safe}}
    </div>
</div>
<br>
<div class="documentos">
    <div class="title_prod2" style="text-align: left; font-size: 13px;">Documentos</div><br><br>
    {% for doc in tema.documento_set.all %}
    <div class="doc">
        <div class="portada">
            <img src="{{doc.portada.url_112x158}}" alt="{{doc.nombre}}">
        </div>
        <div class="breve_descripcion">
            <div class="title_doc"><a href="{{doc.archivo.url}}">{{doc.titulo}} &raquo;</a></div>
            <div class="metadata">Tama&ntilde;o: {{doc.archivo.size|filesizeformat}} &bull; Fecha: {{doc.fecha|date:"F Y"|title}}</div>
            <div class="doc_desc">
                {{doc.descripcion|safe}}
            </div>
            <div class="related_videos">
                <div class="title_doc">Videos relacionados:</div>
                {% for video in doc.videos_relacionados.all|slice:"3" %}
                <a href="/videoteca/video/{{video.pk}}/">{{video.nombre}}</a>
                {% if forloop.last %}{% else %}&nbsp;|&nbsp;{% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="clean"></div>
    </div>
    {% if forloop.last %}{% else %}
    <img src="/files/images/hline_large.png" alt="line" class="hline2">
    {% endif %}
    {% endfor %}        

</div>
{% endblock %}
