{% extends "base2.html" %}
{% block extratitle %}{{contenido.nombre}}{% endblock %}
{% block extrahead %}
<script type="text/javascript" src="/files/js/jquery.jcarousel.min.js"></script>
{% if contenido.imagen %}
<style type="text/css">
    #contenido {
        background: url({{contenido.imagen.url}}) no-repeat;
    }
    .resto{
        background: url(/files/images/b-{{contenido.slug}}.png) no-repeat;
        margin-top: -100px;
        padding-top: 75px;
    }
    .banner_top{
        height: 397px;
    }
    .banner{
        height: 380px;
    }
    .jcarousel-item {
        width: 112px;
    }
    .obra{
        margin: 15px 4px 30px 4px;
    }
</style>
<script type="text/javascript">
    function mycarousel_initCallback(carousel) {
        jQuery('#mycarousel-next').click(function() {
            carousel.next();
            return false;
        });

        jQuery('#mycarousel-prev').click(function() {
            carousel.prev();
            return false;
        });
    };
    $(document).ready(function(){
        $('.logo_animado').attr('src', '{{contenido.logo.url}}');
        // Ride the carousel...
        $("#obras").jcarousel({
            scroll: 3,
            initCallback: mycarousel_initCallback,
            // This tells jCarousel NOT to autobuild prev/next buttons
            buttonNextHTML: null,
            buttonPrevHTML: null
        });
    });
</script>
{% endif %}
{% endblock %}

{% block menu1 %}
{% for tema in temas_material %}
<a href="/material/{{tema.slug}}/">{{tema.nombre}} &raquo;</a><br>
{% endfor %}
<br><br><br>
{% endblock %}

{% block breadcrumb %}
<a href="/material/">Material Did&aacute;tico &raquo;</a> <a href="/material/{{tema.slug}}">{{tema.nombre}} &raquo;</a>
{% endblock %}

{% block contenido %}
<div>
    <span class="title">{{tema.nombre}}</span><br><br>
    <div class="flatpage">        
        {{tema.descripcion|truncatewords:40|safe}}&nbsp;<a href="/tema/{{tema.slug}}/" style="color: #456a38;">Leer m&aacute;s</a>        
    </div>
</div>
<br>
<div class="documentos">
    <div class="title_prod2" style="text-align: left; font-size: 13px;">Documentos</div><br><br>
    {% for doc in tema.documento_set.all %}
    <div class="doc">
        <div class="portada">
            <img src="{{doc.portada.url_112x158}}" alt="{{doc.nombre}}">
        </div>
        <div class="breve_descripcion">
            <div class="title_doc"><a href="{{doc.archivo.url}}">{{doc.titulo}} &raquo;</a></div>
            <div class="metadata">Tama&ntilde;o: {{doc.archivo.size|filesizeformat}} &bull; Fecha: {{doc.fecha|date:"F Y"|title}}</div>
            <div class="doc_desc">
                {{doc.descripcion|safe}}
            </div>
            <div class="related_videos">
                <div class="title_doc">Videos relacionados:</div>
                {% for video in doc.videos_relacionados.all|slice:"3" %}
                <a href="/videoteca/video/{{video.pk}}/">{{video.nombre}}</a>
                {% if forloop.last %}{% else %}&nbsp;|&nbsp;{% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="clean"></div>
    </div>
    {% if forloop.last %}{% else %}
    <img src="/files/images/hline_large.png" alt="line" class="hline2">
    {% endif %}
    {% endfor %}        

</div>

<!--<div>
    <div class="otras_producciones">
        <div class="title_prod2">Producciones recientes en {{contenido.nombre}}</div>
        {% if contenido.video_set.all %}
        <div class="prev_car" id="mycarousel-prev"></div>
        <div class="obras_carusel">
            <ul id="obras">
                {% for video in contenido.obtener_ocho %}
                <li class="obra">
                    <a href="/videoteca/video/{{video.pk}}/"><img src="{{video.portada.url_112x158}}" alt="{{video.nombre}}"></a>
                    {{video.nombre}}
                    <br style="clear: both;">
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="next_car" id="mycarousel-next"></div>
        {% else %}
        <br>No hay producciones!
        {% endif %}
        <div class="clean"></div>
    </div>
</div>-->
{% endblock %}
