{%extends "base2.html"%}
{% load highlight %}
{% block extrahead %}
<script type='text/javascript'>
    $(document).ready(function(){
        $('#q_search').val('{{query}}');
    });
</script>
{% endblock %}

{% block menu1 %}
<a href="/eventos/">Eventos</a><br>
<a href="/noticias/">Noticias</a><br>
<br><br><br>
<br><br><br>
{% endblock %}

{% block breadcrumb %}
<a href="/busqueda/">Busqueda &raquo;</a>
{% endblock %}

{% block contenido %}
<span class="title">Resultados de Búsqueda</span>
<div id="resultado_busqueda">    
    {% if query %}
    <br>
    <div id="contenido_pagina">                
        {% for result in page.object_list %}
        {% if result.object.get_model == '[Video] ' %}
        {% if result.object.publicar %}
        <div class="salida_search">
            <a href="{{result.object.get_full_url}}">{{result.object.get_model}}{{result.object.nombre}}</a><br>
            <div class="resumen_search">
                {{result.object.sinopsis|safe|truncatewords:"30"}}
            </div>
            <div class="link_search">
                <a href="{{result.object.get_full_url}}">{{result.object.anio}}</a>
            </div>
        </div>
        {% endif %}
        {% else %}
        <div class="salida_search">
            <a href="{{result.object.get_full_url}}">{{result.object.get_model}}{{result.object.titulo}}</a><br>
            <div class="resumen_search">
                {% if result.object.contenido %}
                {{result.object.contenido|safe|truncatewords:"30"}}
                {% else %}
                {{result.object.sinopsis|safe|truncatewords:"30"}}
                {% endif %}
            </div>
            <div class="link_search">
                <a href="{{result.object.get_full_url}}">{{result.object.fecha|date:"d M Y"}}</a>
            </div>
        </div>
        {% endif %}
        {% empty %}
        <div>La busqueda <span class="highlighted">{{query}}</span> no obtuvo ningun resultado</div>
        {% endfor %}

        {% if page.has_previous or page.has_next %}
        <div>
            {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Anterior{% if page.has_previous %}</a>{% endif %}
            |
            {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Siguiente &raquo;{% if page.has_next %}</a>{% endif %}
        </div>
        {% endif %}
    </div>    
    <br>
    {% else %}
    {# Show some example queries to run, maybe query syntax, something else? #}
    {% endif %}    
</div>

{%endblock %}
