{%extends "base2.html"%}

{% block extrahead %}
<script type='text/javascript'>
    $(document).ready(function(){
        $('#q_search').val('{{query}}');
    });
</script>
{% endblock %}

{% block menu1 %}
<a href="/eventos/">Eventos</a><br>
<a href="/noticias/">Noticias</a><br>
<br><br><br>
<br><br><br>
{% endblock %}

{% block breadcrumb %}
<a href="/busqueda/">Busqueda &raquo;</a>
{% endblock %}

{% block contenido %}
<span class="title">Resultados de Búsqueda</span>
<div id="cse-search-results">

</div>

<script type="text/javascript">
    var googleSearchIframeName = "cse-search-results";
    var googleSearchFormName = "cse-search-box";
    var googleSearchFrameWidth = 400;
    var googleSearchDomain = "www.google.com";
    var googleSearchPath = "/cse";
</script>
<script type="text/javascript" src="http://www.google.com/afsonline/show_afs_search.js"></script>
<style type="text/css">    
    #cse-search-results iframe{
        width: 685px !important;        
    }
    #cse-search-results iframe body{
        background: none !important;
    }
</style>

{%endblock %}
