{% extends "base2.html" %}
{% block extratitle %}Red Mesoamericana | {% if centinel %}{{miembro.siglas}}{% endif %}{% endblock %}
{% block extrahead %}
<script type="text/javascript" src="/files/js/jquery.jcarousel.min.js"></script>
<script type="text/javascript" src="/files/js/cconfig.js"></script>
<script type="text/javascript" src="/files/js/perfil.js"></script>
<style type="text/css">
    #contenido {
        background: url(/files/images/banner_medio_ambiente.jpg) no-repeat;
    }
    .banner{
        height: 380px;
    }
    .jcarousel-item {
        width: 112px;
    }
    .obra{
        margin: 15px 6px 30px 6px;
    }
</style>
{% endblock %}
{% block menu1 %}
<a class="negrita" href="/red/perfiles/">Perfiles de miembros &raquo;</a><br>
{% for tema in menu %}
<a href="/red/{{tema.id}}/">{{tema.nombre}} &raquo;</a><br>
{% endfor %}
<br><br><br>
{% endblock %}

{% block breadcrumb %}
<a href="/red/perfiles/">Perfiles &raquo; </a>{% if centinel %}<a href="/red/perfiles/{{miembro.user.username}}/">{{miembro.user.username|title}}</a>{% endif %}
{% endblock %}

{% block contenido %}
<div>
    {% if centinel %}
    <div>
        <span class="title">{{miembro.siglas|title}}</span><br><br>
        <div class="super_align">
            <img class="logo_perfil" src='/public/{{miembro.logo.name}}' alt='{{miembro.nombre}}'>
            {{miembro.descripcion|safe}}
        </div>
        <br><br>
    </div>
    {% if miembro.user.video_set.all %}
    <img src="/files/images/hline_large.png" alt="line" class="hline2">
    <div class="otras_producciones">
        <div class="title_prod2">Producciones recientes de {{miembro.siglas|title}}</div>
        <div class="prev_car" id="mycarousel-prev"></div>
        <div class="obras_carusel">
            <ul id="obras">
                {% for video in miembro.user.video_set.all %}
                <li class="obra">
                    <a href="/videoteca/video/{{video.pk}}/"><img src="{{video.portada.url_112x158}}" alt="{{video.nombre}}"></a>
                    {{video.nombre}}
                    <br style="clear: both;">
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="next_car" id="mycarousel-next"></div>                
        <div class="clean"></div>
    </div>
    {% endif %}
    {% endif %}
    {% if centinel %}
    {% if miembro.user.documento_set.all %}
    <img src="/files/images/hline_large.png" alt="line" class="hline2">
    <div class="otras_producciones">
        <div class="title_prod2">Documentos</div><br>
        <div>
            {% for doc in miembro.user.documento_set.all %}
            <div class="doc1">
                <a class="negrita" href="{{doc.archivo.url}}" target="_blank">{{doc.titulo}} &raquo;</a><br>
                Tama&ntilde;o: {{doc.archivo.size|filesizeformat}}<br>
                Fecha: {{doc.fecha|date:"F Y"|title}}
            </div>            
            {% endfor %}
            <div class="clean"></div>
        </div>
    </div>
    {% endif %}
    <img src="/files/images/hline_large.png" alt="line" class="hline2">
    <div class="title_prod2">Otros miembros de la Red Mesoamericana</div><br>
    {% else %}
    <span class="title">Perfiles de Miembros</span><br><br>
    {% endif %}
    <div class='acordeon'>
        <ul>
            <li>
                <div id='a8'>
                    <div class='title'>
                        <div class='pais'>
                            <span class='symbol'>[-]</span> {{nicaragua.nombre|upper}}
                        </div>
                        <div class='bandera'>
                            <img src='/public/{{nicaragua.bandera.name}}' alt='Nicaragua'>
                        </div>
                        <div class="clean"></div>
                    </div>
                    <div class='body'>
                        {% for miembro in nicaragua.perfil_set.all %}
                        <div class='perfil'>
                            <div class="img">
                                <a href="/red/perfiles/{{miembro.user.username}}/"><img src='/public/{{miembro.logo.name}}' alt='{{miembro.nombre}}'></a>
                            </div><br>
                            {{miembro.siglas}}<br>
                            Fundada: {{miembro.fundada}}
                        </div>
                        {% endfor %}
                        <div class="clean"></div>
                    </div>
                </div>
            </li>
            {% for pais in otros_paises %}
            <li>
                <div>
                    <div class='title'>
                        <div class='pais'>
                            <span class='symbol'>[+]</span> {{pais.nombre|upper}}
                        </div>
                        <div class='bandera'>
                            <img src='/public/{{pais.bandera.name}}' alt='{{pais.nombre}}'>
                        </div>
                        <div class="clean"></div>
                    </div>
                    <div class='body'>
                        {% for miembro in pais.perfil_set.all %}
                        <div class='perfil'>
                            <div class="img"><img src='/public/{{miembro.logo.name}}' alt='{{miembro.nombre}}'></div><br>
                            {{miembro.siglas}}<br>
                            Fundada: {{miembro.fundada}}
                        </div>
                        {% endfor %}
                        <div class="clean"></div>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
