{% extends "base2.html" %}
{% block extratitle %}Red Mesoamericana{% endblock %}
{% block extrahead %}
<style type="text/css">
    #contenido {
        background: url(/files/images/banner_medio_ambiente.jpg) no-repeat;
    }
    .banner{
        height: 380px;
    }
</style>
<script type="text/javascript">
    $(document).ready(function(){
        $('.logo_animado').attr('src', '/files/images/logo_red.png');
    });
</script>
{% endblock %}
{% block menu1 %}
<a href="/red/perfiles/">Perfiles de miembros &raquo;</a><br>
{% for tema in menu %}
<a href="/red/{{tema.id}}/">{{tema.nombre}} &raquo;</a><br>
{% endfor %}
<br><br><br>
{% endblock %}
{% block contenido %}
<div>
    <span class="title">{{contenido.nombre}}</span><br><br>
    <div class="puto_align">
        {{contenido.descripcion|safe}}
    </div>
</div>
<img src="/files/images/hline_large.png" alt="line" class="hline2">
<div>
    <div class="otras_producciones">
        <div>Producciones recientes de la Red Mesoamericana</div>
        {% for video in producciones|slice:"5" %}
        <div class="obra">
            <a href="/videoteca/video/{{video.pk}}/"<img src="{{video.portada.url}}" alt="{{video.nombre}}"></a>
            {{video.nombre}}
        </div>
        {% endfor %}
        <div class="clean"></div>
    </div>
</div>
{% endblock %}
