{% extends "base2.html" %}
{% load youthumb %}
{% block extratitle %}Eventos {{evento.titulo}}{% endblock %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="/files/css/highslide.css" >
<script type="text/javascript" src="/files/js/highslide-full.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/swfobject/2.1/swfobject.js"></script>
<script type="text/javascript" src="/files/js/load.js"></script>
<style type="text/css">
    .jcarousel-item {
        width: 112px;
    }
    .obra{
        margin: 15px 6px 30px 4px;
    }    
</style>
<script type="text/javascript">
    function showSend(id){
        $('.send, .getinfo').hide();
        $('#'+id).slideDown();
        $('html, body').animate({
            scrollTop: $('#'+id).offset().top
        }, 2000);
        return false;
    }
    function hideSend(id){
        $('#'+id).slideUp();
        return false;
    }
    $(document).ready(function(){
        {% if id %}
        showSend('{{id}}');
        {% endif %}
    });
    
</script>
{% endblock %}

{% block menu1 %}
{% include "calendario.html" %}
{% endblock %}

{% block breadcrumb %}
<a href="/eventos/">Eventos &raquo;</a>
{% endblock %}

{% block contenido %}
<div>
    <br>
    <div class="numeros">{{evento.fecha|date:"d"|get_img|safe}}</div>
    <div class="title_evento">
        {{evento.titulo}}<br>
        <div class="datos1">
            <div style="float: left; width: 250px;">
                Lugar: {{evento.direccion}}<br>
                Hora: {{evento.hora}}
            </div>
            <div style="float: left;">
                <a id="enviar_amigo" href="#" onclick="showSend('{{evento.id}}send'); return false;"><img src="/files/images/mail.png" alt="mail"> Enviar a un amigo</a><br>
                <a id="info" href="#" onclick="showSend('{{evento.id}}info'); return false;"><img src="/files/images/info.png" alt="mail">Solicitar informacion</a>
            </div>
            <div class="clean"></div>
        </div>        
    </div>
    <div class="clean"></div>    
    <div>
        <br>
        <div>
            <img src="{{evento.portada.url_385x240}}" width="320" style="float: left; padding: 5px 10px 5px 0px;" alt="{{proyecto.titulo}}">
            <div class="super_align">
                {{evento.contenido|safe}}
            </div>
        </div>
        <div class="clean"></div>
        {% include "envios.html" %}
        {% if evento.documentos.all %}
        <div class="proyecto2">
            <div class="title_prod2">Documentos</div><br>
            <div>
                {% for doc in evento.documentos.all %}
                <div class="doc1">
                    <a class="negrita" href="{{doc.archivo.url}}" target="_blank">{{doc.titulo}} &raquo;</a><br>
                    Tama&ntilde;o: {{doc.archivo.size|filesizeformat}}<br>
                    Fecha: {{doc.fecha|date:"F Y"|title}}
                </div>
                {% endfor %}                
                <div class="clean"></div>
            </div>
        </div>
        {% endif %}
        <div class="proyecto2">
            <div class="title_prod2">Videos y Fotos</div><br>
            {% for video in evento.video.all %}
            <div class="doc1">
                <a class="negrita" href="{{video.url|replace:'/watch?v='}}?showsearch=0&showinfo=0&iv_load_policy=3&autoplay=1&version=3" onclick="return openYouTube(this, { align: 'center', slideshowGroup: 'group1' })">{{video.titulo}} &raquo;</a><br>
                Duraci&oacute;n: {{video.url|get_size}}<br>
            </div>
            {% endfor %}
            {% if evento.image.all %}
            <div class="doc1 highslide-gallery">
                <a id="thumb1" class="negrita highslide" href="http://lospatiosgranada.com/public/multimedia/gallery/g7.jpg" onclick="return hs.expand(this, { align: 'center', thumbnailId: 'thumb1', slideshowGroup: 'group2'})">Titulo de la galeria &raquo;</a><br>
                Tu madre en bolas<br>
            </div>
            {% endif %}
            <div class="clean"></div>
        </div>
    </div>    
</div>
<div class="hidden-container">
    {% for image in evento.image.all %}
    <a href="{{image.image.url}}" class="highslide" onclick="return hs.expand(this, { thumbnailId: 'thumb1', slideshowGroup: 'group2'})"></a>
    {% endfor %}
</div>

{% endblock %}