{% extends "base2.html" %}
{% load youthumb %}
{% block extratitle %}Campa&ntilde; {{proyecto.titulo}}{% endblock %}

{% block extrahead %}
<style type="text/css">

</style>
<script type="text/javascript">    
    function showSend(id){
        $('.send, .getinfo').hide();
        $('#'+id).slideDown();        
        $('html, body').animate({
            scrollTop: $('#'+id).offset().top
        }, 2000);
        return false;        
    }
    function hideSend(id){
        $('#'+id).slideUp();
        return false;
    }
    $(document).ready(function(){
        {% if id %}
        showSend('{{id}}');
        {% endif %}
    });
</script>
{% endblock %}

{% block menu1 %}
{% include "calendario.html" %}
<div class="clean"></div>
{% endblock %}

{% block breadcrumb %}
<a href="/eventos/">Eventos &raquo;</a>
{% endblock %}

{% block contenido %}
<div>
    <span class="title">{% if day %}{{day}}{% endif %} {{fecha|date:"F Y"|title}}</span><br><br>
    <div>
        {% if eventos %}
        {% for evento in eventos %}
        <div class="evento">
            <div class="left">
                <div class="fecha_num">{{evento.fecha|date:"d"|get_img|safe}}</div>
                <div class="title"><a style="text-decoration: none;" href="/eventos/{{evento.slug}}/">{{evento.titulo}}</a></div>
                <div class="clean"></div>
                <div class="datos">
                    <div style="float: left; width: 250px;">
                        Lugar: {{evento.direccion}}<br>
                        Hora: {{evento.hora}}
                    </div>
                    <div style="float: left;">
                        <a id="enviar_amigo" href="#" onclick="showSend('{{evento.id}}send'); return false;"><img src="/files/images/mail.png" alt="mail"> Enviar a un amigo</a><br>
                        <a id="info" href="#" onclick="showSend('{{evento.id}}info'); return false;"><img src="/files/images/info.png" alt="mail">Solicitar informacion</a>
                    </div>
                    <div class="clean"></div>
                </div>
                <div class="contenido_evento">
                    {{evento.contenido|safe|truncatewords:"80"}}
                </div>
            </div>
            <div class="derecha">
                <img width="150" src="{{evento.portada.url_175x110}}"alt="evento">
            </div>
            <div class="clean"></div>
        </div>
        {% include "envios.html" %}
        {% endfor %}
        {% else %}
        No hay Eventos para esta fecha!!
        {% endif %}
    </div>    
</div>
{% endblock %}