<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:fb="http://www.facebook.com/2008/fbml">
    <head>
        <title>Fundaci&oacute;n Luci&eacute;rnaga | {% block extratitle %}{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link type="text/css" rel="stylesheet"  href="/files/css/lucierna2.css" >
        <link type="text/css" rel="stylesheet"  href="/files/css/nav.css">
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        <script type="text/javascript" src="/files/js/nav.js"></script>        
        {% block extrahead %}
        {% endblock %}
        <script type="text/javascript">
            $(document).ready(function(){
                var alto = $('.bar').height();
                $('.cuerpo').css('min-height', alto);
            });
        </script>
    </head>
    <body>
        <div id="contenido">
            <div class="banner_top">
                <div class="banner">
                    <a href="/"><img src="/files/images/logo_blanco.png" alt="Logo animado" class="logo_animado"></a>
                </div>
            </div>
            <div class="resto">
                <div class="navegacion">
                    {% include "nav.html" %}
                </div>
                <div class="bar">
                    <div class="menu_temas">
                        {% block menu1 %}
                        {% endblock %}
                    </div>
                    <img src="/files/images/hline3.png" class="hline2" alt="line">
                    <div class="buscar_videos">
                        <div class="cant_videos">
                            {{v_count}}<br>
                            <span class="slim">videos</span>
                        </div>
                        <div class="form_buscar_left">
                            <form action="/videoteca/buscar/" method="GET">
                                {{videoForm.tema}}<br>
                                {{videoForm.genero}}<br>
                                {{videoForm.coleccion}}<br><br>
                                <button type="submit" class="red_link">Buscar &raquo;</button>
                            </form>
                        </div>
                    </div>
                    <img src="/files/images/hline3.png" class="hline2" alt="line">
                    <img src="/files/images/redes.png" alt="Redes sociales">
                    <div class="red_social">
                        {% include "redes_sociales.html" %}
                        <img src="/files/images/hline3.png" class="hline2" alt="line">
                    </div>
                    <div>
                        <a href="http://albafilms.tv/" target="_blank"><img src="/files/images/albafilms_logo.png" alt="AlbaFilms Logo"></a>&nbsp;&nbsp;
                        <a href="http://turismoruralnica.com/" target="_blank"><img src="/files/images/turismorural_logo.png" alt="Turismo Rural Nica Logo"></a>
                    </div>
                </div>                                
                <div class="cuerpo">
                    <div class="search">
                        <form action="/busqueda/" method="get">
                            <input name="q" type="input" id="q_search"> <button type="submit" class="red_link">Buscar &raquo;</button>
                        </form>
                    </div>
                    <div class="main">
                        <br>
                        <div class="breadcrumb">
                            <a href="/">Home &raquo;</a> 
                            {% block breadcrumb %}
                            {% endblock %}
                        </div>
                        <div class="addthis">
                            <a class="addthis_button" href="http://www.addthis.com/bookmark.php?v=250&amp;username=eos87"><img src="/files/images/addthis.png" width="150" height="20" alt="Bookmark and Share" style="border:0"/></a>
                            <script type="text/javascript">var addthis_config = {"data_track_clickback":true};</script>
                            <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=eos87"></script>
                        </div>
                        <div class="clean"></div>
                    </div>
                    <div style="margin-right: 5px; margin-left: 10px;">
                    {% block contenido %}
                    {% endblock %}
                    </div>                    
                </div>
                <div class="clean"></div>
            </div>
        </div>
        <div class="clean footer">
            <img src="/files/images/footer_line.png" alt="footer line" class="footer_line"><br>
            Todos los derechos reservados. Fundaci&oacute;n Luci&eacute;rnaga 2010.<br>
            Telefonos: (505) 2266-0811 • 2268-7802. Dirección: Reparto Bolonia, Sumedico 1 c. al Oeste, Managua, Nicaragua<br>
            <br><br>
        </div>
    </body>
</html>
