{% extends "base2.html" %}
{% load pagination_tags %}
{% block extratitle %}Videoteca | Buscar videos{% endblock %}

{% block menu1 %}
{% for tema in temasall %}
<a href="/videoteca/{{tema.slug}}/">{{tema.nombre}} &raquo;</a><br>
{% endfor %}
{% endblock %}

{% block breadcrumb %}
<a href="/videoteca/">Videoteca &raquo;</a> <a href="/videoteca/buscar/">B&uacute;queda &raquo;</a>
{% endblock %}

{% block contenido %}
<div>
    <span class="title">B&uacute;squeda</span><br><br>
    La búsqueda en la Videoteca, puede realizarse por uno o varios campos combinados<br><br>
    <div class="search_form">
        <form action="." method="GET">
            <table>
                <tr><th><label for="id_q">Palabras claves:</label></th><td>{{form.q}} <button type="submit" class="red_link">Buscar &raquo;</button></td></tr>
                <tr>
                    <th>
                        <label for="id_temas_0">{{form.tema.label}}:</label>
                    </th>
                    <td>
                        {{form.tema}}
                    </td>
                </tr>
            </table>            
        </form>
    </div>
    <br>
    <img src="/files/images/hline_large.png" alt="line" class="line_large">
    {% if centinela %}
    <div class="producciones">
        {% for tema in temasall %}
        <div class="title_prod2">Producciones Recientes en {{tema.nombre}}</div>
        {% if tema.video_set.all %}
        {% for video in tema.video_set.all|slice:"5" %}
        <div class="obra">
            <a href="/videoteca/video/{{video.pk}}/"><img src="{{video.portada.url_112x158}}" alt="{{video.nombre}}"></a>
            {{video.nombre}}
        </div>
        {% endfor %}
        {% else %}
        No hay producciones!<br><br>
        {% endif %}
        <div class="clean"></div>
        {% endfor %}        
    </div>
    {% else %}
    {% include "search_results.html" %}
    {% endif %}
</div>
{% endblock %}