{% extends "base.html" %}
{% load youthumb %}
{% block extratitle %}Inicio{% endblock %}
{% block extrahead %}
{% if index %}
<style type="text/css">
    #contenido {
        background: url({{index.foto.url}}) no-repeat;
    }
</style>
{% endif %}
{% endblock %}
{% block contenido %}
<div class="portada">
    <div class="left">
        <div>
            <div class="intro">
                <span class="title">FUNDACI&Oacute;N LUCI&Eacute;RNAGA</span><br>
                <span class="subtitle">Comunicaci&oacute;n para el desarrollo</span><br><br>
                <div class="desc">
                    {% if intro.descripcion %}
                    {{intro.descripcion|safe}}
                    {% else %}
                    La Fundación Luciérnaga les da la bienvenida a nuestro sitio web y pone a su disposición una serie de materiales audiovisuales y didácticos de diversas temáticas.<br>
                    Les invitamos a conocer nuestro trabajo y a seguir haciendo de la comunicación una herramienta para el desarrollo de nuestros pueblos.
                    {% endif %}
                </div><br>
                <a href="/info/quienes-somos/">M&aacute;s de Fundaci&oacute;n Luci&eacute;rnaga &raquo;</a>
            </div>
            <div class="video_destacado">
                <span class="title"><span style="font-size: 16px;">D</span>ESTACADO EN <span style="font-size: 16px;">V</span>IDEOTECA</span><br>
                {% for d in destacado %}
                <a href="/videoteca/video/{{d.pk}}/"><img style="background: url({{d.portada.url_140x135}})" src="/files/images/video_portada.png" class="destaca" alt="Destacado en videoteca"></a>
                <br>
                {{d.nombre}}
                {% endfor %}
                <br><br>
                <a href="/videoteca/" class="red_link">Tenemos {{v_count}} videos mas &raquo;</a>
            </div>
            <img src="/files/images/hline.png" alt="" class="hline">
        </div>
        <div class="mural">
            <div class="mural_eventos">
                <br>
                <div class="meses"><a href="/" {% if c %}style="color: #456a38;"{% endif %}>{{date|date:"F Y"|title}}</a> | <a href="#">{{next|date:"F Y"|title}} &raquo;</a></div>
                <div class="clean">
                    <br>
                    <!-- Lista de eventos -->
                    {% for ev in last_two %}
                    <div class="eventos">
                        <div class="imagen">
                            <img src="{{ev.portada.url_175x110}}" width="150" alt="EventoXY">
                        </div>
                        <div class="texto_evento">
                            {{ev.fecha|date:"d"|get_img|safe}}<br>
                            <a href="" class="title">{{ev.titulo}}</a><br>
                            Lugar: {{ev.direccion}}<br>
                            Hora: {{ev.hora}}<br>
                            <div class="desc">
                                {{ev.contenido|safe|truncatewords:"20"}}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <!-- fin lista eventos -->
                    <a href="/eventos/" class="red_link">Ver m&aacute;s eventos &raquo;</a>
                </div>
            </div>
            <img src="/files/images/vline.png" alt="line" class="vline">
            <div class="red_social">                
                {% include "redes_sociales.html" %}
                <img src="/files/images/hline2.png" class="hline2" alt="line"><br>
                <a href="http://albafilms.tv/" target="_blank"><img src="/files/images/albafilms_logo.png" alt="AlbaFilms Logo"></a><br><br>
                <a href="http://turismoruralnica.com/" target="_blank"><img src="/files/images/turismorural_logo.png" alt="Turismo Rural Nica Logo"></a>
                <div class="clean"></div>
            </div>
            <div class="clean"></div>
        </div>
    </div>
    <div class="facebook">
        <div class="search">
            <input name="q" type="input"> <button type="submit" class="red_link">Buscar &raquo;</button>
        </div>
        <div class="plugin_like">
            <fb:like-box header="true" stream="true" width="300" href="http://www.facebook.com/pages/Fundacion-Luciernaga/107767055952591" class="  fb_iframe_widget "></fb:like-box>
        </div>
    </div>
    <div class="clean"></div>
</div>
<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function() {
        FB.init({appId: '118744378183197', status: true, cookie: true,
            xfbml: true});
    };
    (function() {
        var e = document.createElement('script'); e.async = true;
        e.src = document.location.protocol +
            '//connect.facebook.net/es_ES/all.js';
        document.getElementById('fb-root').appendChild(e);
    }());
</script>

{% endblock%}
