{% extends "base2.html" %}
{% block extratitle %}{{contenido.nombre}}{% endblock %}

{% block extrahead %}
{% if contenido.imagen %}
<style type="text/css">
    #contenido {
        background: url({{contenido.imagen.url}}) no-repeat;
    }
    .resto{
        background: url(/files/images/b-{{contenido.slug}}.png) no-repeat;
    }
    .banner{
        height: 380px;
    }
</style>
<script type="text/javascript">
    $(document).ready(function(){
        $('.logo_animado').attr('src', '{{contenido.logo.url}}');
    });
</script>
{% endif %}
{% endblock %}

{% block menu1 %}
{% for tema in temas %}
<a href="/temas/{{tema.slug}}/">{{tema.nombre}} &raquo;</a><br>
{% endfor %}
<br><br><br>
{% endblock %}
{% block contenido %}
<div>
    <span class="title">{{contenido.nombre}}</span><br><br>
    <div class="flatpage">
        {{contenido.descripcion|safe}}
    </div>
</div>

<img src="/files/images/hline_large.png" alt="line" class="hline2">
<div>
    <div class="otras_producciones">
        <div>Producciones recientes en {{contenido.nombre}}</div>
        {% for video in contenido.video_set.all|slice:"5" %}
        <div class="obra">
            <a href="/videoteca/video/{{video.pk}}/"<img src="{{video.portada.url}}" alt="{{video.nombre}}"></a>
            {{video.nombre}}
        </div>
        {% endfor %}
        <div class="clean"></div>
    </div>
</div>
{% endblock %}

