{% extends "base2.html" %}
{% block extratitle %}Videoteca | {{selecto.nombre}}{% endblock %}

{% block extrahead %}
<script type="text/javascript">
    // TODO: filtro para subtemas
    $(document).ready(function(){
        
    });
</script>
{% endblock %}

{% block menu1 %}
{% for tema in temasall %}
<a href="/videoteca/{{tema.slug}}/">{{tema.nombre}} &raquo;</a><br>
{% endfor %}
{% endblock %}

{% block breadcrumb %}
<a href="/videoteca/">Videoteca &raquo;</a> <a href="/videoteca/buscar/">B&uacute;queda &raquo;</a>
{% endblock %}

{% block contenido %}
<div>
    <span class="title">{{selecto.nombre}}</span><br><br>
    La búsqueda en la Videoteca, puede realizarse por uno o varios campos combinados<br><br>
    <div class="search_form in_videoteca">
        <form action="." method="GET">
            <table>
                <tr><th><label for="id_q">Palabras claves:</label></th><td>{{form.q}} </td>
                    <th><div class="subtema"><label for="id_subtematema_0">{{form.subtema.label}}:</label></div></th>
                    <td>&nbsp;&nbsp;{{form.subtema}} <button type="submit" class="red_link">Buscar &raquo;</button></td>
                </tr>
            </table>            
        </form>
    </div>    
    <img src="/files/images/hline_large.png" alt="line" class="line_large">
    <div class="resultados">
        {% for v in resultados %}
        {{v}}
        {% endfor %}
    </div>
</div>
{% endblock %}