{% extends "base2.html" %}
{% load pagination_tags %}

{% block extratitle %}Videoteca | {{selecto.nombre}}{% endblock %}

{% block extrahead %}
<script type="text/javascript">
    // TODO: filtro para subtemas
    $(document).ready(function(){
        $('.n{{n}}').attr('selected','selected');
        $('.{{order}}').attr('selected','selected');
        /*$.getJSON('http://localhost:8000/ajax/subtemas/{{selecto.pk}}/', function(data){
            if(data){
                $('#id_subtema').html('');
                $('#id_subtema').append($('<option></option>').val('').html('Todos'));
                $.each(data, function(i, item){
                    $('#id_subtema').append($('<option></option>').val(item.id).html(item.nombre));
                });
            }            
        });*/
    });

    function Change(){
        var a = $('.number option:selected').val();
        window.location.href='?n='+a;
    }
    function Change2(){
        var a = $('.order-by option:selected').val();
        window.location.href='?order='+a;
    }
</script>
<style type="text/css">
    .obra{        
        margin: 15px 8px 30px 8px;
        height: 200px;
    }
</style>
{% endblock %}

{% block menu1 %}
{% for tema in temasall %}
<a href="/videoteca/{{tema.slug}}/" {% if tema.slug == selecto.slug %}style='font-weight: bold;'{% endif %}>{{tema.nombre}} &raquo;</a><br>
{% endfor %}
{% endblock %}

{% block breadcrumb %}
<a href="/videoteca/">Videoteca &raquo;</a> <a href="/videoteca/{{selecto.slug}}/">{{selecto.nombre}} &raquo;</a>
{% endblock %}

{% block contenido %}
<div>
    <span class="title">{{selecto.nombre}}</span><br><br>
    <div class="puto_align">
    {{selecto.descripcion|truncatewords:40|safe}}<br><br>
    </div>
    <div class="search_form in_videoteca">
        <form action="." method="GET">
            <table>
                <tr><th><label for="id_q">Palabras claves:</label></th><td>{{form.q}} </td>
                    <th><div class="subtema"><label for="id_subtematema_0">{{form.subtema.label}}:</label></div></th>
                    <td>&nbsp;&nbsp;{{form.subtema}} <button type="submit" class="red_link">Buscar &raquo;</button></td>
                </tr>
            </table>            
        </form>
    </div>    
    <img src="/files/images/hline_large.png" alt="line" class="line_large">
    {% include "search_results.html" %}
</div>
{% endblock %}