{% extends "base2.html" %}
{% load youthumb %}
{% block extratitle %}Videoteca | Video | {{video.nombre}}{% endblock %}
{% block extrahead %}
<script type="text/javascript" src="/files/js/jquery.metadata.js"></script>
<script type="text/javascript" src="/files/js/jquery.media.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('a.media').media(
        {
            width: 490,
            height: 440,
            autoplay: 'true',
            params:{ wmode: 'transparent', allowfullscreen: 'true', allowscriptaccess: 'always'},
            flashvars: { image:'/public/{{video.imagen.name}}', autostart:'true', menu:'false'}
        });
    });
</script>
{% endblock %}

{% block menu1 %}
{% for tema in temasall %}
<a href="/videoteca/{{tema.slug}}/">{{tema.nombre}} &raquo;</a><br>
{% endfor %}
{% endblock %}

{% block contenido %}
<div>
    <span class="title">{{video.nombre}}</span><br><br>
    <div class="video_player">
        <!--<a class="media" href="/public/{{video.archivo}}"></a>-->
        <iframe title="{{video.nombre}}" class="youtube-player" type="text/html" width="480" height="390" src="http://www.youtube.com/embed/{{video.archivo|get_id}}?showsearch=0&showinfo=0&iv_load_policy=3&autoplay=1" frameborder="0"></iframe>
    </div>
    <div class="dato_video">
        <img src="{{video.portada.url}}" height="190" width="140" alt="{{video.nombre}}"><br><br>
        <span class="negrita">G&eacute;nero:</span><br>
        {{video.genero}}<br><br>
        <span class="negrita">Realizaci&oacute;n:</span><br>
        {% for director in video.realizacion.all %}
        {{director.nombre}}{% if forloop.last %}{% else %}, {% endif %}
        {% endfor %}
        <br><br>
        <span class="negrita">Producci&oacute;n:</span><br>
        {{video.produccion}}<br><br>
        {% if video.duracion %}
        <span class="negrita">Duraci&oacute;n:</span><br>
        {{video.duracion}}<br><br>
        {% endif %}
        <span class="negrita">A&ntilde;o:</span><br>
        {{video.anio}}
    </div>
    <div class="clean"></div><br>
    <div class="sinopsis">
        <span class="title">
            Sin&oacute;psis
        </span><br><br>
        <div class="sinopsis_desc">
            {{video.sinopsis|safe}}
        </div>
    </div><br><br>
    <div class="hline_large"></div>
    <div class="fbcomments">
        <fb:comments width="650"></fb:comments>
    </div>
    <br>
    <div class="hline_large"></div>
    <div class="otras_producciones">
        <div class="title_prod2">Otras Producciones Relacionadas</div>
        {% if video.get_related_videos %}
        <div class="prev_car" id="mycarousel-prev"></div>        
        <div class="obras_carusel">            
            <ul id="obras">
                {% for video in video.get_related_videos %}
                <li class="obra">
                    <a href="/videoteca/video/{{video.pk}}/"><img src="{{video.portada.url_112x158}}" alt="{{video.nombre}}"></a>
                    {{video.nombre}}
                    <br style="clear: both;">
                </li>                
                {% endfor %}
            </ul>
        </div>
        <div class="next_car" id="mycarousel-next"></div>
        {% else %}
        <br>No hay producciones!
        {% endif %}
        <div class="clean"></div>
    </div>    
</div>
<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function() {
        FB.init({appId: '118744378183197', status: true, cookie: true,
            xfbml: true});
    };
    (function() {
        var e = document.createElement('script'); e.async = true;
        e.src = document.location.protocol +
            '//connect.facebook.net/es_ES/all.js';
        document.getElementById('fb-root').appendChild(e);
    }());
</script>
{% endblock %}
