body{
    padding:0;
    margin: 0;
    background: #fff url(/files/images/back.png) repeat-y center;
    font-family: 'Verdana', "DejaVu Sans", sans-serif;
    font-size: 12px;
}
#contenido {
    width: 960px;
    margin: 0 auto;
    background: url(/files/images/banner_rostros.jpg) no-repeat;
}
.bar{
    width: 210px;
    float: left;
    margin-left: 20px;
}
.separator{
    float: left;
    padding: 0 10px;
    margin-top: 25px;
}
.cuerpo{
    float: left;
    width: 685px;
    padding-left: 10px;
    margin-top: 15px;
    margin-left: 10px;
    background: url(/files/images/separator.png) repeat-y left;
}
.cuerpo a{
    text-decoration: underline;
}
.cuerpo a:visited{
    color: #456a38;
}
.cuerpo .main{
    clear: both;
    padding-top: 10px;
    font-size: 13px;
}
.cuerpo .breadcrumb{
    float: left;
    margin-left: 8px;
}
.cuerpo .breadcrumb a{
    color: #456a38;
    font-size: 11px;
    text-decoration: none;
}
.cuerpo .title{
    color: #456a38;
    font-size: 21px;
}
.cuerpo .addthis{
    float: right;
}
.search{
    float: right;
    margin-top: -10px;
}
.search input{
    font-family: 'Trebuchet MS', sans-serif;
    border: 1px #000 solid;
    padding: 2px 4px;
    height: 18px;
    width: 170px;
    margin-top: 20px;
}

.footer{
    text-align: center;
    font-size: 11px;
}
.footer_line{
    margin-top: 20px;
    margin-bottom: 10px;
}

.banner{
    height: 160px;
}
.banner .logo_animado{
    margin-left: 20px;
}
a{
    text-decoration: none;
    outline: none;
    color: #456a38;    
}
a:hover{
    text-decoration: underline;
}
img{
    outline: none;
    border: none;
}
.negrita{
    font-weight: bold;
    text-decoration: none;
    color: #000;
}
.navegacion{
    height: 36px;
    font-family: 'Verdana', "DejaVu Sans", sans-serif;
    font-size: 13px;
    line-height: 36px;
    padding-left: 20px;
}
.clean{
    clear: both;
}
.menu_temas{
    background: url(/files/images/temas_menu.png) no-repeat;
    padding-top: 70px;
    width: 207px;
    padding-left: 20px;
    line-height: 20px;
}
.menu_temas a{
    color: #000;
}
.menu_temas a:hover{
    text-decoration: underline;
}
.red_social{
    float: left;
    line-height: 30px;
    text-align: center;
}
.red_social .logo_red{
    float: left;
    height: 30px;
    margin-top: 5px;
    margin-right: 10px;
}
.red_social .link{
    float: left;
    line-height: 40px;
}
.red_social .link a{
    text-decoration: underline;
    font-size: 13px;
    color: #709b2e;
}
button.red_link, a.red_link{
    background-color: #7c0000;
    padding: 1px 5px;
    color: #fff;
    border: none;
}
.hline2{
    margin-top: 15px;
    margin-bottom: 15px;
}
.search_form label{
    font-size: 12px;
    font-weight: normal;    
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}
.search_form input{
    border: 1px solid;
}
.search_form ul{
    list-style: none;
    padding-left: 0px;
}
.search_form input[type='checkbox']{
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    overflow: hidden;

}
.line_large{
    margin-left: 20px;
    margin-bottom: 20px;
}
.producciones{
    text-align: center;
    height: 460px;
    overflow: scroll;
    overflow-x: hidden;
}
.producciones .titulo{
    font-size: 13px;
    color: #456a38;    
}
#obras{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.obra{
    padding: 0px;
    margin: 15px 7px 30px 7px;
    width: 112px;    
    text-align: center;
    color: #000;
    float: left;
}
.obras_carusel{
    float: left;
    width: 623px;
    margin-left: -15px;    
}
.obra img{
    padding: 1px;
}
.obra img:hover{
    background: #696969;
    padding: 1px;
}
.prev_car, .next_car{
    float: left;
    width: 22px;
    height: 122px;
    cursor: pointer;
    margin-top: 45px;
}
.prev_car{
    background: url(/files/images/prev.png) no-repeat;
    margin-right: 15px;
    margin-left: -5px;
}
.prev_car:hover, .next_car:hover{
    background-position: 0 -122px;
}
.next_car{
    background: url(/files/images/next.png) no-repeat;
    margin-left: 0px;
}

.video_player{
    float: left;
    width: 480px;    
}

.dato_video{
    float: left;
    margin-left: 20px;
    font-size: 13px;    
    width: 165px;
}
.sinopsis .title{
    color: #456a38;
    font-size: 18px;
}
.sinopsis_desc{
    text-align: justify;
}
.hline_large{
    background: url(/files/images/hline_large.png) repeat-x;
    height: 1px;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 20px;
}

/* ACORDEON CSS CODE */

.acordeon ul{
    padding: 0;
    list-style: none;
    margin: 0;
    width: 660px;
    height: 690px;
}
.acordeon ul li{
    margin-top: 3px;
    line-height: 28px;
    font-family: 'Verdana', 'Lucida Grande', sans-serif;
}
.acordeon ul li div{
    display: block;
    overflow: hidden;
}
.acordeon .body{
	display: none;
	/*overflow: auto;
	overflow-x: hidden;*/
}
.acordeon #a8 .body{
	display: block;
}
.acordeon .title{
    height: 28px;
    background: url(/files/images/nav_back.png) repeat;
    color: #fff;
    font-size: 16px;
}
.acordeon .title .symbol{
    font-size: 16px;
    line-height: 28px;
}
.acordeon .title .pais{
    float: left;
    margin-left: 15px;
}
.acordeon .title .bandera{
    float: right;
    padding-right: 3px;
    width: 54px;
    height: 28px;
    background-color: #4c703f;
    text-align: center;
}
.body{
    font-size: 13px;
}
.body .perfil{
    text-align: center;
    float: left;
    width: 140px;
    height: 182px;
    margin-top: 25px;
    margin-left: 15px;
    margin-right: 10px;
    line-height: 15px;
}
.perfil .img{
    margin-bottom: 5px;
    height: 115px;
}
.bandera img{
    margin-top: 2px;
}
#a8{
    height: 505px;
}

/* termina acordeon code*/

.buscar_videos{
    background: url(/files/images/tv-buscar.jpg) no-repeat;
    width: 100%;    
}

.cant_videos{
    font-size: 20px;
    color: #fff;
    font-family: "Verdana", "Trebuchet MS", sans-serif;
    font-weight: bold;
    text-align: center;
    width: 75px;
    padding-top: 20px;
    margin-left: 10px;
}
.cant_videos .slim{
    font-weight: normal;
    font-size: 18px;
}
.form_buscar_left{
    margin-top: 40px;
}
.form_buscar_left select{
    width: 200px;
    border: 1px #000 solid;
    background: #fff;
    margin-top: 5px;
    padding: 2px 2px;
}
.title_prod{
    font-size: 17px;
    color: #456a38;
    font-family: "Verdana", "Trebuchet MS", sans-serif;
    text-align: center;
    letter-spacing: 3px;
}

.title_prod2{
    font-size: 14px;
    color: #456a38;
    font-family: "Verdana", "Trebuchet MS", sans-serif;
    text-align: center;
    letter-spacing: 2px;
}
.in_videoteca{
    margin-bottom: 15px;
}
.in_videoteca input{
    width: 160px;
}
.in_videoteca select{
    width: 170px;
    background: #fff;
    border: 1px #000 solid;
}
.in_videoteca .subtema{
    margin-left: 30px;
}
.descripciones{
    color: #456a38;
    font-size: 13px;
}
.objetos_salida{
    float: left;
}
.pagination{
    float: right;
    margin-right: 10px;
}
.pagination .page{
    padding: 1px 6px;
    border: 1px #456a38 solid;
    color: #456a38;
    font-size: 11px;
}
a.prev, a.next{
    color: #fff !important;
    display: inline-block;
    width: 20px;
    height: 19px;
    text-align: center;
}
.prev, .next{
    background: #456a38;
    color: #fff;
    font-weight: bold;
}
.disabled{
    background: #eee;
    padding: 2px 5px;
    color: #959595;
}
.current{
    background: #f0e68c;
}
.ordering{
    margin-top: 8px;
    font-size: 12px;
    color: #000;
    float: right;
    margin-right: 10px;
}
.ordering select{
    width: 150px;
    background: #fff;
    border: 1px #000 solid;
}
select.number{
    width: 50px;
}
.vertical_separator{
    background: url(/files/images/separator.png) repeat-y;
    width: 2px;    
    float: left;
    margin-top: 15px;
    margin-left: 5px;
}

.doc .portada{
    float: left;
    margin: 0 10px 0 5px;
    width: 112px;
}
.doc .breve_descripcion{
    float: left;
    width: 540px;    
}
.title_doc, .title_doc a{
    color: #000;
    font-size: 13px;
    font-weight: bold;
}
.doc_desc{
    margin-top: 7px;
    margin-bottom: 10px;
}
.related_videos a{
    color: #000;
    text-decoration: none;
    
}
.related_videos a:hover{
    text-decoration: underline;
}
.proyecto{
    border-top: 1px #6d6e71 dashed;
    padding: 10px 0px 10px 0px;
    margin-bottom: 10px;
}
.proyecto .left{
    float: left;
    width: 180px;
    height: 120px;    
}
.proyecto .left img{
    padding: 2px 5px 2px 0px;
}
.proyecto .right{
    float: left;
    width: 480px;
    height: 120px;    
}
.proyecto .title{
    font-weight: bold;
    font-size: 12px;
}
.proyecto .date{
    font-size: 12px;
}
.proyecto .title a{
    color: #000;
    text-decoration: none;
}
.proyecto .title a:hover{
    text-decoration: underline;
}
.doc1{
    float: left;
    width: 210px;
    height: 78px;    
    margin-right: 10px;
    margin-bottom: 15px;
}
.proyecto2{
    border-top: 1px #6d6e71 dashed;
    border-bottom: 1px #6d6e71 dashed;
    padding: 10px 0px 0px 0px;
    margin-bottom: 10px;
}
a.link_a{
    text-decoration: none !important;
    color: #000 !important;
}
.evento{
    border-bottom: 1px #6d6e71 dashed;
    margin-top: 20px;    
    padding-bottom: 10px;
}
.evento .left{
    float: left;
    width: 500px;
}
.evento .derecha{
    float: left;
    padding-left: 10px;
}
.evento .left .fecha_num{    
    float: left;
    width: 65px;    
    padding: 3px 4px 2px 0px;
}
.evento .left .title{
    float: left;
    color: #456a38;
    width: 428px;
    font-size: 14px;
    font-weight: bold;    
}
.datos{
    margin-left: 69px;
    color: #456a38;
    font-size: 11px;
}
.contenido_evento{
    text-align: justify;
}
#info, #enviar_amigo{
    text-decoration: none;
    line-height: 18px;
}
#info:hover, #enviar_amigo:hover{
    color: #086a1c;
}

#info img, #enviar_amigo img{
    margin-right: 3px;
    margin-top: 2px;
    float: left;
}
.form{
    background-color: #cde2a4;
    width: 100%;
}
.titulo_form, .titulo_form a{
    color: #456a38;
    text-decoration: none;
}
.titulo_form a:hover{
    color: #086a1c;
}
.cerrar{
    text-align: right;
}
.form table{
    padding: 10px 15px;
}
.form table td{
    width: 250px;    
}
.form input[type='text'], .form textarea{
    border: 1px #000 solid;
    padding: 2px 4px;
}
.form textarea{
    width: 405px;
    height: 80px;
}
.captcha{
    margin-bottom: 9px;
    margin-top: 5px;
}
.submit{
    background: #7c0000;
    border: none;
    padding: 3px 10px;
    color: #fff;
}
.send, .getinfo{
    display: none;
}
.errorlist{
    font-size: 11px;
    color: red;
    padding: 0px;
    padding-left: 2px;
    list-style: none;
    margin-top: -1px;
}
.numeros{
    float: left;
    margin-right: 10px;
    height: 50px;    
}
.title_evento{
    float: left;
    color: #456a38;
    font-size: 21px;
}
.datos1{    
    color: #456a38;
    font-size: 11px;
    margin-top: 5px;
}
.title2 a{    
    font-size: 14px;
    font-weight: bold;
}
.junto{
    display: inline-block;
    margin-top: 5px;
    margin-right: 10px;
    font-size: 11px;
}

/* Estilos para el calendario*/
.calendar{
    margin-left: -5px;
}
.calendar .cal_nav{
    font-size: 10px;
    font: small sans-serif;
    margin-bottom: 3px;    
    text-align: center;
}

.calendar table {
    font-size: 10px;
    text-align: center;
}

.calendar td {
    border: 1px solid #656565;
    width: 22px;
    height: 16px;
    text-align: center;
    color: #444;
}

.calendar th{
    width: 22px;
    height: 16px;
    font-weight: normal;
}
.calendar td:hover{
    background-color: #EEE695;
    color: #000;
    cursor: pointer;
}
.calendar td.test{
    background-color: #cee3a5;
}

.calendar td.test:hover{
    background-color: #EEE695;
    color: #000;
}
.calendar td a{
    display: block;
    color: #000;
}
.calendar td a:hover{
    color: #000;
}
.salida_search{    
    font-size: 12px;
    color: #000;
    margin-bottom: 10px;
}
.salida_search a, .salida_search a:visited{
    color: #2200C1;
    font-size: 14px;
}
.highlighted{
    font-weight: bold;
}
.link_search a{
    color: #0E774A !important;
    text-decoration: none !important;
    font-size: 11px !important;
}
.resumen_search p{    
    margin: 0;
    margin-top: 5px;
}