#nav, #nav ul{
    margin:0;
    padding:0;
    list-style-type:none;
    list-style-position:outside;
    position:relative;
    line-height:1.5em;
}
#nav li.l1{
    line-height: 36px;
    margin-right: 5px;
}
#nav a{
    display:block;
    padding:0px 5px;
    color:#fff;
    text-decoration:none;
}
#nav li.l1:hover{
    background: url(/files/images/nav_hover.png) repeat-x bottom;
}
#nav li{
    float:left;
    position:relative;
}
#nav ul{
    position:absolute;
    display:none;
    width:15em;
    top:36px;    
}
#nav li ul a{
    width:16em;
    height:24px;
    line-height: 24px;
    float:left;
    text-align: left;
    color: #fff;
    background: url(/files/images/menu_back.png) repeat-x;
    font-size: 11px;
}
#nav li ul a:hover{
    color: #cadb36;
}
#nav ul ul{
    top:auto;
}
.selected{
    background: url(/files/images/nav_hover.png) repeat-x bottom;
}